@model AngelPerezIntegra.DTO.DTOEmpleado

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualizar</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <span class="text-danger">@Html.ValidationMessage("CustomError")</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmpleado" />
            <input type="hidden" asp-for="RutaFoto" />
            <div class="form-group">
                <label class="control-label">Apellido</label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Telefono</label>
                <input id="telefono" asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="(999) 999-9999" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Foto</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Buscar… <input asp-for="Foto" type="file" id="imgInp">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <img id='img-upload' />
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de contratacion</label>
                <input asp-for="FechaContratacion" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="FechaContratacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
<script src="~/js/InputMaskPhone.js"></script>
<script src="~/js/CargarArchivo.js"></script>